ui = true
disable_mlock = true

api_addr = "http://127.0.0.1:8200"
cluster_addr = "http://127.0.0.1:8201"

storage "file" {
  path = "${vault_storage_path}"
}

listener "tcp" {
  address         = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_disable     = 1
  telemetry {
    unauthenticated_metrics_access = true
  }
}

# enable auto-unseal using the azure key vault.
seal "azurekeyvault" {
  client_id      = "${vault_client_id}"
  client_secret  = "${vault_client_secret}"
  tenant_id      = "${vault_tenant_id}"
  vault_name     = "${akv_name}"
  key_name       = "${vault_key}"
}
